<section class="container about-eggnog">
  <div class="container chef-u-logo">
    <img src="/images/chef_u_logo.png">
  </div>
  <div class= "container eggnog">
    <h3>All recipes have been personally vetted by the editor. He's been known to vet the eggnog a little too much.</h3>
    <p>This is a simple Sinatra App developed for the General Assembly WDI class **Atlanta - Winter 2015**</p>
    <img src="/images/chef-u.png">
  </div>
</section>