<head>
  <link rel="stylesheet" href="animate.min.css">
</head>
<body>
  <section class="container welcome animated fadeInLeft">
    <h1>Welcome to<img src="images/chef-u.png"/>!</h1>




  </section>  
  <!--<h1>Welcome to Bennett's (Pilfered) Recipes</h1>-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2200">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="recipes/13"><img src="/images/asian_salad_salmon.jpg" alt="Asian Salad with Salmon"></a>
          <div class="carousel-caption salmon">
            <h4>Mmmm...</h4>
          </div>
        </div>
        <div class="item">
          <a href="recipes/7"><img src="/images/gnocchi_with_sweet_corn.jpg" alt="Gnocchi with Squash and Sweet Summer Corn"></a>
          <div class="carousel-caption gnocchi">
            <h3>Delicious?</h3>
          </div>
        </div>
        <div class="item">
          <a href="recipes/11"><img src="/images/butternut_squash_bread_pudding.jpg" alt="Butternut Squash and Cheddar Bread Pudding"></a>
          <div class="carousel-caption pudding">
            <h2>Absolutely.</h2>
          </div>
        </div>
        <div class="item">
          <a href="recipes/14"><img src="/images/biscuit_pot_pie.jpg" alt="Biscuit Pot Pie"></a>
          <div class="carousel-caption biscuit">
            <h4>Nutritious?</h4>
          </div>
        </div>
        <div class="item">
          <a href="recipes/18"><img src="/images/mac_n_cheese.jpg" alt="Fannie Farmer's Classic Baked Macaroni & Cheese"></a>
          <div class="carousel-caption macnchz">
            <h3>Not necessarily.</h3>
          </div>
        </div>
        <div class="item">
          <a href="recipes/12"><img src="/images/black_eyed_pea_hummus.jpg" alt="Black-Eyed Pea Hummus"></a>
          <div class="carousel-caption black-eye">
            <h2>You<br>can<br>make<br> anything...</h2>
          </div>
        </div>
        <div class="item">
          <a href="recipes/5"><img src="/images/beef_stroganoff.jpg" alt="Classic Beef Stroganoff"></a>
          <div class="carousel-caption stroganoff">
            <h1>Chef's choice!</h1>
          </div>
        </div>
        ...
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </body>